/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin and padding
*/
* {
  margin: 0;
  padding: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

ul {
  padding: 0;
  list-style-type: none;
}

.test {
  color: #326dee;
}

@media (min-width: 0) {
  .test-queries {
    color: red;
  }
}
@media (min-width: 480px) {
  .test-queries {
    color: blue;
  }
}
@media (min-width: 720px) {
  .test-queries {
    color: green;
  }
}
@media (min-width: 960px) {
  .test-queries {
    color: purple;
  }
}
@media (min-width: 1200px) {
  .test-queries {
    color: yellow;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

@media (min-width: 0) {
  .col-xs-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-xs-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-xs-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-xs-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-xs-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-xs-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-xs-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-xs-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-xs-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-xs-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-xs-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-xs-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-sm-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-sm-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-sm-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-sm-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-md-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-md-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-md-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-md-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-md-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-md-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-md-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-md-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-md-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-md-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-md-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-md-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-lg-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-lg-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-lg-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-lg-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-xl-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-xl-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-xl-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.text-primary {
  color: #326dee;
}

.bg-primary {
  background-color: #326dee;
}

.bg-primary-light-1 {
  background-color: #477cf0;
}

.bg-primary-dark-1 {
  background-color: #2d62d6;
}

.bg-primary-light-2 {
  background-color: #5b8af1;
}

.bg-primary-dark-2 {
  background-color: #2857be;
}

.bg-primary-light-3 {
  background-color: #7099f3;
}

.bg-primary-dark-3 {
  background-color: #234ca7;
}

.bg-primary-light-4 {
  background-color: #84a7f5;
}

.bg-primary-dark-4 {
  background-color: #1e418f;
}

.bg-primary-light-5 {
  background-color: #99b6f7;
}

.bg-primary-dark-5 {
  background-color: #193777;
}

.bg-primary-light-6 {
  background-color: #adc5f8;
}

.bg-primary-dark-6 {
  background-color: #142c5f;
}

.bg-primary-light-7 {
  background-color: #c2d3fa;
}

.bg-primary-dark-7 {
  background-color: #0f2147;
}

.bg-primary-light-8 {
  background-color: #d6e2fc;
}

.bg-primary-dark-8 {
  background-color: #0a1630;
}

.bg-primary-light-9 {
  background-color: #ebf0fd;
}

.bg-primary-dark-9 {
  background-color: #050b18;
}

.text-secondary {
  color: #1ac886;
}

.bg-secondary {
  background-color: #1ac886;
}

.bg-secondary-light-1 {
  background-color: #31ce92;
}

.bg-secondary-dark-1 {
  background-color: #17b479;
}

.bg-secondary-light-2 {
  background-color: #48d39e;
}

.bg-secondary-dark-2 {
  background-color: #15a06b;
}

.bg-secondary-light-3 {
  background-color: #5fd9aa;
}

.bg-secondary-dark-3 {
  background-color: #128c5e;
}

.bg-secondary-light-4 {
  background-color: #76deb6;
}

.bg-secondary-dark-4 {
  background-color: #107850;
}

.bg-secondary-light-5 {
  background-color: #8de4c3;
}

.bg-secondary-dark-5 {
  background-color: #0d6443;
}

.bg-secondary-light-6 {
  background-color: #a3e9cf;
}

.bg-secondary-dark-6 {
  background-color: #0a5036;
}

.bg-secondary-light-7 {
  background-color: #baefdb;
}

.bg-secondary-dark-7 {
  background-color: #083c28;
}

.bg-secondary-light-8 {
  background-color: #d1f4e7;
}

.bg-secondary-dark-8 {
  background-color: #05281b;
}

.bg-secondary-light-9 {
  background-color: #e8faf3;
}

.bg-secondary-dark-9 {
  background-color: #03140d;
}

.text-error {
  color: #d32752;
}
.text-error:hover {
  color: blue;
}
.text-error__fire {
  color: #d32752;
}
.text-error__fire:hover {
  color: purple;
}

.bg-error {
  background-color: #d32752;
}

.bg-error-light-1 {
  background-color: #d73d63;
}

.bg-error-dark-1 {
  background-color: #be234a;
}

.bg-error-light-2 {
  background-color: #dc5275;
}

.bg-error-dark-2 {
  background-color: #a91f42;
}

.bg-error-light-3 {
  background-color: #e06886;
}

.bg-error-dark-3 {
  background-color: #941b39;
}

.bg-error-light-4 {
  background-color: #e57d97;
}

.bg-error-dark-4 {
  background-color: #7f1731;
}

.bg-error-light-5 {
  background-color: #e993a9;
}

.bg-error-dark-5 {
  background-color: #6a1429;
}

.bg-error-light-6 {
  background-color: #eda9ba;
}

.bg-error-dark-6 {
  background-color: #541021;
}

.bg-error-light-7 {
  background-color: #f2becb;
}

.bg-error-dark-7 {
  background-color: #3f0c19;
}

.bg-error-light-8 {
  background-color: #f6d4dc;
}

.bg-error-dark-8 {
  background-color: #2a0810;
}

.bg-error-light-9 {
  background-color: #fbe9ee;
}

.bg-error-dark-9 {
  background-color: #150408;
}

.text-info {
  color: #f6c31c;
}

.bg-info {
  background-color: #f6c31c;
}

.bg-info-light-1 {
  background-color: #f7c933;
}

.bg-info-dark-1 {
  background-color: #ddb019;
}

.bg-info-light-2 {
  background-color: #f8cf49;
}

.bg-info-dark-2 {
  background-color: #c59c16;
}

.bg-info-light-3 {
  background-color: #f9d560;
}

.bg-info-dark-3 {
  background-color: #ac8914;
}

.bg-info-light-4 {
  background-color: #fadb77;
}

.bg-info-dark-4 {
  background-color: #947511;
}

.bg-info-light-5 {
  background-color: #fbe18e;
}

.bg-info-dark-5 {
  background-color: #7b620e;
}

.bg-info-light-6 {
  background-color: #fbe7a4;
}

.bg-info-dark-6 {
  background-color: #624e0b;
}

.bg-info-light-7 {
  background-color: #fcedbb;
}

.bg-info-dark-7 {
  background-color: #4a3b08;
}

.bg-info-light-8 {
  background-color: #fdf3d2;
}

.bg-info-dark-8 {
  background-color: #312706;
}

.bg-info-light-9 {
  background-color: #fef9e8;
}

.bg-info-dark-9 {
  background-color: #191403;
}

.text-blue {
  color: #1919e6;
}

.bg-blue {
  background-color: #1919e6;
}

.bg-blue-light-1 {
  background-color: #3030e9;
}

.bg-blue-dark-1 {
  background-color: #1717cf;
}

.bg-blue-light-2 {
  background-color: #4747eb;
}

.bg-blue-dark-2 {
  background-color: #1414b8;
}

.bg-blue-light-3 {
  background-color: #5e5eee;
}

.bg-blue-dark-3 {
  background-color: #1212a1;
}

.bg-blue-light-4 {
  background-color: #7575f0;
}

.bg-blue-dark-4 {
  background-color: #0f0f8a;
}

.bg-blue-light-5 {
  background-color: #8c8cf3;
}

.bg-blue-dark-5 {
  background-color: #0d0d73;
}

.bg-blue-light-6 {
  background-color: #a3a3f5;
}

.bg-blue-dark-6 {
  background-color: #0a0a5c;
}

.bg-blue-light-7 {
  background-color: #babaf8;
}

.bg-blue-dark-7 {
  background-color: #080845;
}

.bg-blue-light-8 {
  background-color: #d1d1fa;
}

.bg-blue-dark-8 {
  background-color: #05052e;
}

.bg-blue-light-9 {
  background-color: #e8e8fd;
}

.bg-blue-dark-9 {
  background-color: #030317;
}

.text-red {
  color: #e61919;
}

.bg-red {
  background-color: #e61919;
}

.bg-red-light-1 {
  background-color: #e93030;
}

.bg-red-dark-1 {
  background-color: #cf1717;
}

.bg-red-light-2 {
  background-color: #eb4747;
}

.bg-red-dark-2 {
  background-color: #b81414;
}

.bg-red-light-3 {
  background-color: #ee5e5e;
}

.bg-red-dark-3 {
  background-color: #a11212;
}

.bg-red-light-4 {
  background-color: #f07575;
}

.bg-red-dark-4 {
  background-color: #8a0f0f;
}

.bg-red-light-5 {
  background-color: #f38c8c;
}

.bg-red-dark-5 {
  background-color: #730d0d;
}

.bg-red-light-6 {
  background-color: #f5a3a3;
}

.bg-red-dark-6 {
  background-color: #5c0a0a;
}

.bg-red-light-7 {
  background-color: #f8baba;
}

.bg-red-dark-7 {
  background-color: #450808;
}

.bg-red-light-8 {
  background-color: #fad1d1;
}

.bg-red-dark-8 {
  background-color: #2e0505;
}

.bg-red-light-9 {
  background-color: #fde8e8;
}

.bg-red-dark-9 {
  background-color: #170303;
}

.text-yellow {
  color: #e6e619;
}

.bg-yellow {
  background-color: #e6e619;
}

.bg-yellow-light-1 {
  background-color: #e9e930;
}

.bg-yellow-dark-1 {
  background-color: #cfcf17;
}

.bg-yellow-light-2 {
  background-color: #ebeb47;
}

.bg-yellow-dark-2 {
  background-color: #b8b814;
}

.bg-yellow-light-3 {
  background-color: #eeee5e;
}

.bg-yellow-dark-3 {
  background-color: #a1a112;
}

.bg-yellow-light-4 {
  background-color: #f0f075;
}

.bg-yellow-dark-4 {
  background-color: #8a8a0f;
}

.bg-yellow-light-5 {
  background-color: #f3f38c;
}

.bg-yellow-dark-5 {
  background-color: #73730d;
}

.bg-yellow-light-6 {
  background-color: #f5f5a3;
}

.bg-yellow-dark-6 {
  background-color: #5c5c0a;
}

.bg-yellow-light-7 {
  background-color: #f8f8ba;
}

.bg-yellow-dark-7 {
  background-color: #454508;
}

.bg-yellow-light-8 {
  background-color: #fafad1;
}

.bg-yellow-dark-8 {
  background-color: #2e2e05;
}

.bg-yellow-light-9 {
  background-color: #fdfde8;
}

.bg-yellow-dark-9 {
  background-color: #171703;
}

.text-green {
  color: #19e635;
}

.bg-green {
  background-color: #19e635;
}

.bg-green-light-1 {
  background-color: #30e949;
}

.bg-green-dark-1 {
  background-color: #17cf30;
}

.bg-green-light-2 {
  background-color: #47eb5d;
}

.bg-green-dark-2 {
  background-color: #14b82a;
}

.bg-green-light-3 {
  background-color: #5eee72;
}

.bg-green-dark-3 {
  background-color: #12a125;
}

.bg-green-light-4 {
  background-color: #75f086;
}

.bg-green-dark-4 {
  background-color: #0f8a20;
}

.bg-green-light-5 {
  background-color: #8cf39a;
}

.bg-green-dark-5 {
  background-color: #0d731b;
}

.bg-green-light-6 {
  background-color: #a3f5ae;
}

.bg-green-dark-6 {
  background-color: #0a5c15;
}

.bg-green-light-7 {
  background-color: #baf8c2;
}

.bg-green-dark-7 {
  background-color: #084510;
}

.bg-green-light-8 {
  background-color: #d1fad7;
}

.bg-green-dark-8 {
  background-color: #052e0b;
}

.bg-green-light-9 {
  background-color: #e8fdeb;
}

.bg-green-dark-9 {
  background-color: #031705;
}

.text-orange {
  color: #ffa600;
}

.bg-orange {
  background-color: #ffa600;
}

.bg-orange-light-1 {
  background-color: #ffaf1a;
}

.bg-orange-dark-1 {
  background-color: #e69500;
}

.bg-orange-light-2 {
  background-color: #ffb833;
}

.bg-orange-dark-2 {
  background-color: #cc8500;
}

.bg-orange-light-3 {
  background-color: #ffc14d;
}

.bg-orange-dark-3 {
  background-color: #b37400;
}

.bg-orange-light-4 {
  background-color: #ffca66;
}

.bg-orange-dark-4 {
  background-color: #996400;
}

.bg-orange-light-5 {
  background-color: #ffd380;
}

.bg-orange-dark-5 {
  background-color: #805300;
}

.bg-orange-light-6 {
  background-color: #ffdb99;
}

.bg-orange-dark-6 {
  background-color: #664200;
}

.bg-orange-light-7 {
  background-color: #ffe4b3;
}

.bg-orange-dark-7 {
  background-color: #4d3200;
}

.bg-orange-light-8 {
  background-color: #ffedcc;
}

.bg-orange-dark-8 {
  background-color: #332100;
}

.bg-orange-light-9 {
  background-color: #fff6e6;
}

.bg-orange-dark-9 {
  background-color: #1a1100;
}

.text-purple {
  color: #9900ff;
}

.bg-purple {
  background-color: #9900ff;
}

.bg-purple-light-1 {
  background-color: #a31aff;
}

.bg-purple-dark-1 {
  background-color: #8a00e6;
}

.bg-purple-light-2 {
  background-color: #ad33ff;
}

.bg-purple-dark-2 {
  background-color: #7a00cc;
}

.bg-purple-light-3 {
  background-color: #b84dff;
}

.bg-purple-dark-3 {
  background-color: #6b00b3;
}

.bg-purple-light-4 {
  background-color: #c266ff;
}

.bg-purple-dark-4 {
  background-color: #5c0099;
}

.bg-purple-light-5 {
  background-color: #cc80ff;
}

.bg-purple-dark-5 {
  background-color: #4d0080;
}

.bg-purple-light-6 {
  background-color: #d699ff;
}

.bg-purple-dark-6 {
  background-color: #3d0066;
}

.bg-purple-light-7 {
  background-color: #e0b3ff;
}

.bg-purple-dark-7 {
  background-color: #2e004d;
}

.bg-purple-light-8 {
  background-color: #ebccff;
}

.bg-purple-dark-8 {
  background-color: #1f0033;
}

.bg-purple-light-9 {
  background-color: #f5e6ff;
}

.bg-purple-dark-9 {
  background-color: #0f001a;
}

.text-gray {
  color: #808080;
}

.bg-gray {
  background-color: #808080;
}

.bg-gray-light-1 {
  background-color: #8d8d8d;
}

.bg-gray-dark-1 {
  background-color: #737373;
}

.bg-gray-light-2 {
  background-color: #999999;
}

.bg-gray-dark-2 {
  background-color: #666666;
}

.bg-gray-light-3 {
  background-color: #a6a6a6;
}

.bg-gray-dark-3 {
  background-color: #5a5a5a;
}

.bg-gray-light-4 {
  background-color: #b3b3b3;
}

.bg-gray-dark-4 {
  background-color: #4d4d4d;
}

.bg-gray-light-5 {
  background-color: silver;
}

.bg-gray-dark-5 {
  background-color: #404040;
}

.bg-gray-light-6 {
  background-color: #cccccc;
}

.bg-gray-dark-6 {
  background-color: #333333;
}

.bg-gray-light-7 {
  background-color: #d9d9d9;
}

.bg-gray-dark-7 {
  background-color: #262626;
}

.bg-gray-light-8 {
  background-color: #e6e6e6;
}

.bg-gray-dark-8 {
  background-color: #1a1a1a;
}

.bg-gray-light-9 {
  background-color: #f2f2f2;
}

.bg-gray-dark-9 {
  background-color: #0d0d0d;
}

.text-black {
  color: black;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card .card-title {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  text-indent: 20px;
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
  color: #1ac886;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ddd;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #326dee;
}
.btn-primary:hover {
  background-color: #618ff2;
}

.btn-outlined-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #326dee;
}
.btn-outlined-primary:hover {
  background-color: #326dee;
  color: white;
}

.btn-comp-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #326dee;
  color: #f2c461;
}
.btn-comp-primary:hover {
  background-color: #f2c461;
  color: #326dee;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #1ac886;
}
.btn-secondary:hover {
  background-color: #31e4a0;
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #1ac886;
}
.btn-outlined-secondary:hover {
  background-color: #1ac886;
  color: white;
}

.btn-comp-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #1ac886;
  color: #e43175;
}
.btn-comp-secondary:hover {
  background-color: #e43175;
  color: #1ac886;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #d32752;
}
.btn-error:hover {
  background-color: #de4f73;
}

.btn-outlined-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #d32752;
}
.btn-outlined-error:hover {
  background-color: #d32752;
  color: white;
}

.btn-comp-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #d32752;
  color: #4fdeba;
}
.btn-comp-error:hover {
  background-color: #4fdeba;
  color: #d32752;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #f6c31c;
}
.btn-info:hover {
  background-color: #f8d04d;
}

.btn-outlined-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #f6c31c;
}
.btn-outlined-info:hover {
  background-color: #f6c31c;
  color: white;
}

.btn-comp-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #f6c31c;
  color: #4d75f8;
}
.btn-comp-info:hover {
  background-color: #4d75f8;
  color: #f6c31c;
}

.btn-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #1919e6;
}
.btn-blue:hover {
  background-color: #4747eb;
}

.btn-outlined-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #1919e6;
}
.btn-outlined-blue:hover {
  background-color: #1919e6;
  color: white;
}

.btn-comp-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #1919e6;
  color: #ebeb47;
}
.btn-comp-blue:hover {
  background-color: #ebeb47;
  color: #1919e6;
}

.btn-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e61919;
}
.btn-red:hover {
  background-color: #eb4747;
}

.btn-outlined-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #e61919;
}
.btn-outlined-red:hover {
  background-color: #e61919;
  color: white;
}

.btn-comp-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e61919;
  color: #47ebeb;
}
.btn-comp-red:hover {
  background-color: #47ebeb;
  color: #e61919;
}

.btn-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e6e619;
}
.btn-yellow:hover {
  background-color: #ebeb47;
}

.btn-outlined-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #e6e619;
}
.btn-outlined-yellow:hover {
  background-color: #e6e619;
  color: white;
}

.btn-comp-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e6e619;
  color: #4747eb;
}
.btn-comp-yellow:hover {
  background-color: #4747eb;
  color: #e6e619;
}

.btn-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #19e635;
}
.btn-green:hover {
  background-color: #47eb5d;
}

.btn-outlined-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #19e635;
}
.btn-outlined-green:hover {
  background-color: #19e635;
  color: white;
}

.btn-comp-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #19e635;
  color: #eb47d5;
}
.btn-comp-green:hover {
  background-color: #eb47d5;
  color: #19e635;
}

.btn-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffa600;
}
.btn-orange:hover {
  background-color: #ffb833;
}

.btn-outlined-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #ffa600;
}
.btn-outlined-orange:hover {
  background-color: #ffa600;
  color: white;
}

.btn-comp-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffa600;
  color: #337aff;
}
.btn-comp-orange:hover {
  background-color: #337aff;
  color: #ffa600;
}

.btn-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #9900ff;
}
.btn-purple:hover {
  background-color: #ad33ff;
}

.btn-outlined-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #9900ff;
}
.btn-outlined-purple:hover {
  background-color: #9900ff;
  color: white;
}

.btn-comp-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #9900ff;
  color: #85ff33;
}
.btn-comp-purple:hover {
  background-color: #85ff33;
  color: #9900ff;
}

.btn-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #808080;
}
.btn-gray:hover {
  background-color: #9a9a9a;
}

.btn-outlined-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #808080;
}
.btn-outlined-gray:hover {
  background-color: #808080;
  color: white;
}

.btn-comp-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #808080;
  color: #9a9a9a;
}
.btn-comp-gray:hover {
  background-color: #9a9a9a;
  color: #808080;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: black;
}
.btn-black:hover {
  background-color: #1a1a1a;
}

.btn-outlined-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid black;
}
.btn-outlined-black:hover {
  background-color: black;
  color: white;
}

.btn-comp-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: black;
  color: #1a1a1a;
}
.btn-comp-black:hover {
  background-color: #1a1a1a;
  color: black;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
}
.btn-white:hover {
  background-color: white;
}

.btn-outlined-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid white;
}
.btn-outlined-white:hover {
  background-color: white;
  color: white;
}

.btn-comp-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  color: white;
}
.btn-comp-white:hover {
  background-color: white;
  color: white;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2.25rem;
}

.p-4 {
  padding: 3rem;
}

.br {
  border-radius: 20px;
}

.br-nn {
  border-radius: 0;
}

.br-xs {
  border-radius: 5px;
}

.br-sm {
  border-radius: 10px;
}

.br-lg {
  border-radius: 40px;
}

.br-circle {
  border-radius: 50%;
}

.fs-sm {
  font-size: 0.75rem;
}

.fs-md {
  font-size: 1rem;
}

.fs-lg {
  font-size: 1.5rem;
}

.fs-xl {
  font-size: 2rem;
}

.fs-xxl {
  font-size: 3rem;
}

.display-nn {
  display: none;
}

.display-bl {
  display: block;
}

.display-in-bl {
  display: inline-block;
}

.display-fl {
  display: flex;
}