* { 
  box-sizing: border-box;

}



body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}




.container { 
  border: 1px solid black ;
  width: 70%;
  padding: 30px  50px;
  text-align: center;
}

.container__userTimeZone {
  color: gray;
}


@media only screen and ( min-width : 700px ){
  .container { 
    width: 50%;
  }
}

